@()
@links = {}
@scripts = {
    <script src="@routes.Assets.versioned("javascripts/fitbuddies.js")" type="text/javascript"></script>
}
@main("Fitbuddies",scripts, links) {
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-5">
                <div class="card" >
                    <img id="buddyImg" class="card-img-top" src="@routes.Assets.versioned("images/whitesmile.png")" alt="Card image cap">
                    <div class="card-body">
                        <h5 id="buddyName" class="card-title"></h5>
                        <p id="buddyDescription" class="card-text" >
                            </p>

                            <div class="row">
                                <div class="col-sm-5">
                                    <button id="addBuddy" href="#" class="btn btn-success">Add buddy</button>
                                </div>
                                <div class="col-sm-5">
                                    <button id="skipBuddy" href="#" class="btn btn-danger">Skip buddy</button>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-5">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Buddy</th>
                            <th scope="col">Remove</th>

                        </tr>
                    </thead>
                    <tbody id="myBuddyTable">

                    </tbody>
                </table>

            </div>
        </div>


    </div>
}
