@()

    @main("Fitbuddy") {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input id="Search Field" type="text" class="form-control input-lg" placeholder="Search for event" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="mapid">

        </div>



    }
