@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        <meta charset="uft-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/leaflet/leaflet.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/material-design-icons/material-icons.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/font-awesome/css/all.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("leaflet_plugin/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("leaflet_plugin/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css")"/>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/svg" href="@routes.Assets.versioned("images/Soccer_ball.svg")">
    </head>
    <body>

        <div class="wrapper">
            <header>
                <nav class="navbar navbar-expand-sm navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        <img src="@routes.Assets.versioned("images/Soccer_ball.svg")" width="30" height="30" class="d-inline-block align-top" alt="">
                        Fitbuddy
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="material-icons">menu</i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item ">
                                <a class="nav-link" href="/fitbuddies">Fit buddies <span class="sr-only">
                                    (current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#createEventModal">
                                    Create event</a>
                            </li>
                        </ul>


                        <ul class="nav navbar-nav navbar-right">
                            <li id="navbar-notloggedin">
                                <a href="#" data-toggle="modal" data-target="#loginModal"><i class="fas fa-sign-in-alt"></i>
                                    Sign in</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user"></i> 
                                    <span id="userSurename">Knecht</span>
                                </a>
                                <ul id="navbarDropdownLoggedin" class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-4">
                                                    <p class="text-center">
                                                        <i class="fa fa-user fa-7x"></i>
                                                    </p>
                                                </div>
                                                <div class="col-8">
                                                    <p id="userFullname" class=""><strong>Silvan Knecht</strong></p>
                                                    <a href="/myprofile">My profile</a>
                                                    <br>
                                                    <a href="/myevents">My events</a>

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="#" class="btn btn-danger btn-block">Logout</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            @* And here's where we render the `Html` object containing
            * the page content. *@

            <div id="content">
            @content
            </div>

        </div>
            <!-- Modal Sign in  -->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalTitle">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form onsubmit="return false">
                        <div class="modal-body mx-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i class="fa fa-envelope prefix grey-text input-group-text"></i>
                                </div>
                                <input type="email" class="form-control" placeholder="Your email" aria-label="email" required>
                            </div>

                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i class="fa fa-lock prefix grey-text input-group-text"></i>
                                </div>
                                <input type="password" class="form-control" placeholder="Your password" aria-label="password" required>
                            </div>


                            <div class=" row  justify-content-center">
                                <button type="submit" class="btn btn-default">Login</button>

                            </div>
                        </div>
                    </form>
                    <div id="loginWithFacebookDiv" class="modal-body mx-3">
                        <div class=" row  justify-content-center">
                            <button type="submit" class="btn btn-primary">Login with FACEBOOK</button>

                        </div>
                    </div>


                </div>
            </div>
        </div>


            <!-- Modal Create Event -->
        <div class="modal fade" id="createEventModal" tabindex="-1" role="dialog" aria-labelledby="createEventModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createEventModalTitle">Create a new event</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form onsubmit="return false">
                        <div class="modal-body mx-3">
                            <div class="input-group mb-3 ">
                                <div class="input-group-prepend">
                                    <i title="Discription" class="fa fa-pen prefix grey-text input-group-text"></i>
                                </div>
                                <textarea id="descriptionEventForm" class="form-control" placeholder="Event description" aria-label="EventDiscription" required></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i title="Sport" class="fa fa-futbol prefix grey-text input-group-text"></i>
                                </div>
                                <select class="custom-select" id="sportEventForm">

                                </select>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i class="fa fa-calendar prefix grey-text input-group-text"></i>
                                </div>
                                <input title="Date" id="dateEventForm" type="date" class="form-control" aria-label="EventDate" min="2014-05-11" value="2014-05-11" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i title="Requested buddies" class="fa fa-users prefix grey-text input-group-text"></i>
                                </div>
                                <input id="amoutBuddiesEventForm" type="number" class="form-control" aria-label="EventAmountBuddies" min="1" value="1" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i title="Latitude" class="fa fa-location-arrow prefix grey-text input-group-text"></i>
                                </div>
                                <input id="whereLatEventForm" type="text" class="form-control" aria-label="whereLatEventForm" required>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <i title="Longitude" class="fa fa-location-arrow prefix grey-text input-group-text"></i>
                                </div>
                                <input id="whereLngEventForm" type="text" class="form-control" aria-label="whereLngEventForm" required>
                            </div>


                        </div>
                        <div class="modal-footer justify-content-center">
                            <button id="sendEventForm" type="button" class="btn btn-default">Create event</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        @*Bootstrap*@
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/popper.js/dist/umd/popper.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("lib/sammy/sammy.min.js")" type="text/javascript"></script>

        @*Leavlet*@
        <script src="@routes.Assets.versioned("lib/leaflet/leaflet.js")"></script>
        <script src="@routes.Assets.versioned("leaflet_plugin/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js")"></script>

        @*Custom*@
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>


        @scripts


    </body>
</html>
