@()



@scripts = {
    <script src="@routes.Assets.versioned("javascripts/myevents.js")" type="text/javascript"></script>
}
@main("My Events", scripts) {
    <section class="notIndex">
    <div class="table-responsive-md">
        <h1>My events</h1>
        <table id="myEventsTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">description</th>
                    <th scope="col">interested</th>
                    <th scope="col">sport</th>
                    <th scope="col">#buddies</th>
                    <th scope="col">date</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody id="myEventsTBody">


            </tbody>
        </table>
    </div>

    <div class="table-responsive-md">
        <h1>Interested</h1>
        <table id="interestedTable" class="table">
            <thead class="thead-orange">
                <tr>
                    <th scope="col">description</th>
                    <th scope="col">sport</th>
                    <th scope="col">#buddies</th>
                    <th scope="col">date</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody id="interestedTBody">

            </tbody>
        </table>
    </div>

    <div class="table-responsive-md">
        <h1>Joined</h1>
        <table id="joinedTable" class="table">
            <thead class="thread-green">
                <tr>
                    <th scope="col">description</th>
                    <th scope="col">sport</th>
                    <th scope="col">#buddies</th>
                    <th scope="col">date</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody id="joinedTBody">

            </tbody>
        </table>
    </div>

    <div class="table-responsive-md">
        <h1>Events of my buddies</h1>
        <table id="buddieTable" class="table">
            <thead>
                <tr>
                    <th scope="col">description</th>
                    <th scope="col">sport</th>
                    <th scope="col">#buddies</th>
                    <th scope="col">date</th>
                    <th scope="col">I'm interested</th>
                </tr>
            </thead>
            <tbody id="buddieTBody">

            </tbody>
        </table>
    </div>
    @* Modal shows interested people*@
    <div class="modal fade" id="interestedModal" tabindex="-1" role="dialog" aria-labelledby="interestedModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="interestedModalTitle">Interested</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="table-responsive-sm">
                        <table id="interestedUser" class="table">
                            <thead>
                                <tr>
                                    <th scope="col">interested</th>
                                    <th scope="col">decline</th>
                                    <th scope="col">accept</th>
                                </tr>
                            </thead>
                            <tbody id="interestedTBodyModal">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
}
